input {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  color: black;
  outline: none;
  border: 2px solid black;
  width: 280px;
}

.color-h1 {
  background: linear-gradient(rgb(105, 211, 238), rgb(190, 46, 226));
  background-clip: text;
  color: transparent;
  font-size: 45px;
}

.image {
  width: 300px;
  height: inherit;
  padding: 5px;
  margin: 5px;
}

#images {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-img {
  width: 60px;
}
