
.logout-btn {

    background-color: black;
    border-radius: 10px;
    border: none;
    color: rgb(246, 240, 240);
    cursor: pointer;
    font-family: monospace;
    
    &:hover {
        transform: scale(1.1);
    }
}

.login-btn {

    background-color: black;
    border-radius: 10px;
    border: none;
    color: rgb(246, 240, 240);
    cursor: pointer;
    font-family: monospace;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    
    &:hover {
        transform: scale(1.1);
    }
}