

nav {

    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 20px;
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;

        &:hover {
            background-color: rgb(177, 174, 177);
        }
    }

}